$primaryColor: rgba(249 249 249);
$secondaryColor: rgba(11 8 20);
$fontFamily: "proxima nova";
$opacity: 0.9;

$imageOne: url("../../assets/images/high.jpg");
$imageTwo: url("../../assets/images/walli.jpg");
$imageThree: url("../../assets/images/green.jpg");
